@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.cursive {
  font-family: "Pacifico", cursive;
  font-weight: 500;
}
.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #cc0404;
  text-align: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
}
section {
  padding: 0 160px;
}
.swiper-pagination {
  text-align: center;
}
.swiper-pagination-bullet-custom {
  width: 10px;
  height: 10px;
  background-color: gray;
  opacity: 1;
}

.swiper-pagination-bullet-custom.swiper-pagination-bullet-active {
  background-color: rgb(246, 115, 117);
}
@media only screen and (max-width: 768px) {
  section {
    padding: 0 10px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: "Pacifico", cursive; */
/* font-family: "Poppins", sans-serif; */
